<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>result</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/assets/rotation.css" media="screen and (orientation: landscape)">
        <link href="https://fonts.googleapis.com/css?family=Space+Mono:700|Work+Sans" rel="stylesheet">
        <link rel="stylesheet" href="/assets/result.css">
    </head>
    <body>
        <div class="container">
            
            <div class="row rescont">
                <div class="col-sm-12 imgcont">
                    <img class="rounded-circle" src="<%=img%>">
                </div>
                <div class="col-sm-12 description">
                    <h1 class="text-center display1"><%=ans%></h1>
                    <p class="text-center">
                        <%=des%>
                    </p>
                </div>
            </div>
        </div>
        <!--main container -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.4/js/tether.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="/assets/result.js"></script>
    </body>
</html>