

/* for mobile device */
@media (min-width: 321px ) and (max-width: 480px) {
        body{
            background-color: #F6F6F6;
        }
        .progress-bar{
            margin-top: 20px;
            margin-bottom: 10px;
        }
        .mybadge{
            border-radius: 50%;
            font-size: 15px;
            margin-left: -10px;
        }
        .que_container
        {

            margin-top: 5%;
        }
        .que{
            width: 100%;
            height: 20px;
        }
        .question{
            font-family: monospace;
            font-style: normal;
            font-size: 16px;
            font-weight: 600;
        }
        .imgcont{

            margin-top: 8%;
        }
        .imgopt{

            margin-top: 8px;
        }
            
        .img{
            margin-left: -5%;
            width: 140px;
            height: 140px;
            margin-bottom: 8px;
        }

        img{
            width: 140px;
            height: 140px;    
        }

    }

/*for landscape mode*/

@media (min-width: 481px) and (max-width: 854px){
 body{
            background-color: #F6F6F6;
        }
        .progress-bar{
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .que_container{

        }
        

       .quenum{
         
        }
        .mybadge{
            border-radius: 50%;
            font-size: 15px;
            margin-left: -10px;
        }
        .que{
            width: 100%;
            height: 50px;
        }
        .question{
            font-family: monospace;
            font-style: normal;
            font-size: 16px;
            font-weight: 600;
        }
        .imgcont{
            margin-top: 2%;
            width: 100%;
            float: left;
        }
        .imgopt{
            display: flex;
            width:100%;
            justify-content: center;
            align-items: center;
            margin-top: 2%;
        }
        .img{
            float: left;
        }
        img{
            width: 130px;
            height: 130px;    
        }
}